/**
*
* {{ properCase name }}
*
*/

import React, { Component } from 'react';
import PropTypes from 'prop-types';
{{#if wantF1}}
import ReactF1 from 'react-f1';

import { states, IDLE } from './{{ properCase name }}F1States';
import transitions from './{{ properCase name }}F1Transitions';
{{/if}}
{{#if wantCSS}}
import styles from './{{ properCase name }}.css';
{{/if}}

class {{ properCase name }} extends Component {
  {{#if wantF1}}
  constructor(props, context) {
    super(props, context);
    this.state = {
      go: IDLE,
    };

    this.completeF1Handler = this.completeF1Handler.bind(this);
  }

  completeF1Handler() {
    switch (this.state.go) {

      case IDLE:
        break;

      default:
        break;
    }
  }

  {{/if}}
  render() {
    return (
      {{#if wantF1}}
      <ReactF1
        {{#if wantCSS}}
        className={ styles.{{ camelCase name }} }
        {{/if}}
        go={this.state.go}
        states={states()}
        transitions={transitions()}
        onComplete={this.completeF1Handler}
      >
        <div data-f1="container">
          <h1>{{ titleCase name }}</h1>
        </div>
      </ReactF1>
      {{else}}
      <div
        {{#if wantCSS}}
        className={ styles.{{ camelCase name }} }
        {{/if}}
      >
        <h1>{{ titleCase name }}</h1>
      </div>
      {{/if}}
    );
  }
}

export default {{ properCase name }};
