/**
*
* {{ properCase name }}
*
*/

import React from 'react';

{{#if wantCSS}}
import styles from './{{ properCase name }}.css';
{{/if}}

const {{ properCase name }} = () => (
  {{#if wantCSS}}
  <div className={ styles.{{ camelCase name }} }>
  {{else}}
  <div>
  {{/if}}
    <h1>{{ properCase name }}</h1>
  </div>
);

export default {{ properCase name }};
